@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html.light {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

body {
  background-color: #ffffff;
  color: #0f172a;
  min-height: 100vh;
}

html.dark body {
  background-color: #0f172a;
  color: #f1f5f9;
}
